/* Project section styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
/* styles.css */
.ProjectSection {
  background-color: black;
  padding: 50px 20px;
  color: white;
}
.project{
  font-family: "Nunito", sans-serif;
font-optical-sizing: auto;
font-size: 50px;
font-weight:bolder;
font-style:normal;
  color:white;
  margin-bottom: 50px;}

.ProjectsWrapper {
  display: flex;
  flex-wrap: wrap;
  
  
}

.ProjectCard {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
margin-right: 10px;
  background-color: rgb(30, 33, 33);
  padding: 5px;
}


@media (max-width: 768px) {
  .ProjectCard {
    width: calc(100% - 20px);
    margin:30px;
  }
}

@media (max-width: 480px) {
  .ProjectCard {
    width: 100%;
  }
}

.ProjectImage {
  width: 100%;
  border-radius: 8px;
}

.ProjectTitle {
  color:white;
  margin-top: 10px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.ProjectDescription {
  color: rgb(217, 207, 207);
}


